<div class="w-24 hover:w-64 grid grid-cols-1 hover:gap-3 m-1 hover:m-3 ">
  <mat-card class="logo">
    <mat-card-header class="justify-center"
      >Boiler Robotic Club</mat-card-header
    >
    <img src="/assets/logo.webp" />
  </mat-card>

  <button
    routerLink="/dashboard"
    routerLinkActive="active-link"
    #dashboardLink="routerLinkActive"
    ariaCurrentWhenActive="page"
    mat-raised-button
    color="{{ dashboardLink.isActive ? 'primary' : 'accent' }}"
  >
    Dashboard
  </button>

  <mat-divider></mat-divider>

  <button
    routerLink="/mqtt"
    routerLinkActive="active-link"
    #mqttLink="routerLinkActive"
    ariaCurrentWhenActive="page"
    mat-raised-button
    color="{{ mqttLink.isActive ? 'primary' : 'accent' }}"
  >
    MQTT Config
  </button>
</div>
